# Neon PostgreSQL Connection String
DATABASE_URL="postgresql://neondb_owner:password@ep-sample-123456.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"

# Better Auth Configuration
BETTER_AUTH_SECRET="your_32_character_better_auth_secret_key_here"
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
