# Next.js
.next/
out/

# Dependencies
node_modules/
.pnpm-store/

# Environment Variables
.env
.env*.local

# Vercel
.vercel

# Turbopack cache
.turbo

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
